affine==2.3.1
async-generator==1.10
blinker==1.4
certifi==2022.9.24
certipy==0.1.3
chardet==5.0.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
conda==22.9.0
contextily==1.2.0
contourpy==1.0.5
cycler==0.11.0
Fiona==1.8.21
fonttools==4.37.4
geographiclib==1.52
geopandas==0.11.1
geopy==2.2.0
ipython-genutils==0.2.0
isodate==0.6.1
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.0
mercantile==1.2.1
munch==2.5.0
numpy==1.23.3
osm2geojson==0.2.1
pamela==1.0.0
pandas==1.5.0
Pillow==9.2.0
pycurl==7.45.1
pyproj==3.4.0
rasterio==1.3.2
rdflib==6.2.0
Shapely==1.8.4
snuggs==1.4.7
SPARQLWrapper==2.0.0
webencodings==0.5.1
xyzservices==2022.9.0
